<?xml version="1.0"?>
<config>
	<modules>
		<SheerID_Verify>
			<version>1.0.0</version>
		</SheerID_Verify>
	</modules>
	<global>
		<models>
			<sheerid>
				<class>SheerID_Verify</class>
			</sheerid>
			<checkout>
				<rewrite>
					<type_onepage>SheerID_Verify_Model_Type_Onepage</type_onepage>
				</rewrite>
			</checkout>
			<salesrule>
				<rewrite>
					<rule_condition_address>SheerID_Verify_Model_Rule_Condition_Verified</rule_condition_address>
				</rewrite>
			</salesrule>
		</models>
		<resources>
			<sheerid_setup>
				<setup>
					<module>SheerID_Verify</module>
					<class>SheerID_Verify_Resource_Eav_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</sheerid_setup>
			<sheerid_write>
				<connection>
					<use>core_write</use>
				</connection>
			</sheerid_write>
			<sheerid_read>
				<connection>
					<use>core_read</use>
				</connection>
			</sheerid_read>
		</resources>
		<blocks>
			<sheerid>
				<class>SheerID_Verify_Block</class>
			</sheerid>
			<checkout>
				<rewrite>
					<onepage>SheerID_Verify_Block_Onepage</onepage>
				</rewrite>
			</checkout>
		</blocks>
		<rewrite>
			<sheerid_verify_onepage>
				<from><![CDATA[#^/checkout/onepage/#]]></from>
				<to>/SheerID/onepage/</to>
			</sheerid_verify_onepage>
		</rewrite>
		<helpers>
			<sheerid_verify>
				<class>SheerID_Verify_Helper</class>
			</sheerid_verify>
		</helpers>
		<fieldsets>
			<sales_convert_quote>                           
				<sheerid_request_id><to_order>*</to_order></sheerid_request_id>
				<sheerid_result><to_order>*</to_order></sheerid_result>
				<sheerid_affiliations><to_order>*</to_order></sheerid_affiliations>
            </sales_convert_quote>
		</fieldsets>
	    <events>
	      <sales_order_save_commit_after>
	        <observers>
	          <sheerid_verify_order_observer>
	            <type>singleton</type>
	            <class>SheerID_Verify_Model_Order_Observer</class>
	            <method>on_sales_order_save_commit_after</method>
	          </sheerid_verify_order_observer>
	        </observers>
	      </sales_order_save_commit_after>
	      <sales_order_invoice_pay>
	        <observers>
	          <sheerid_verify_order_observer>
	            <type>singleton</type>
	            <class>SheerID_Verify_Model_Order_Observer</class>
	            <method>on_sales_order_invoice_pay</method>
	          </sheerid_verify_order_observer>
	        </observers>
	      </sales_order_invoice_pay>
		  <adminhtml_block_html_before>
	        <observers>
	          <sheerid_verify_admin_order_observer>
	            <type>singleton</type>
	            <class>SheerID_Verify_Model_Order_AdminObserver</class>
	            <method>on_adminhtml_block_html_before</method>
	          </sheerid_verify_admin_order_observer>
	        </observers>
	      </adminhtml_block_html_before>
	    </events>
	</global>
	<frontend>
		<routers>
			<sheerid>
				<use>standard</use>
				<args>
					<module>SheerID_Verify</module>
					<frontName>SheerID</frontName>
				</args>
			</sheerid>
			<customer>
				<args>
					<modules>
						<SheerID_Verify before="Mage_Customer">SheerID_Verify</SheerID_Verify>
					</modules>
				</args>
			</customer>
			<checkout>
				<args>
					<modules>
						<SheerID_Verify before="Mage_Checkout">SheerID_Verify</SheerID_Verify>
					</modules>
				</args>
			</checkout>
		</routers>
		<layout>
			<updates>
				<verify>
					<file>verify.xml</file>
				</verify>
			</updates>
		</layout>
	</frontend>
	<default>
		<sheerid_options>
			<settings>
				<show_in_checkout>false</show_in_checkout>
				<sandbox>true</sandbox>
			</settings>
		</sheerid_options>
	</default>
</config>
