<?xml version="1.0" encoding="UTF-8"?>
<config>
	<tabs>
		<sheeridconfig translate="label" module="sheerid_verify">
			<label>SheerID Settings</label>
			<sort_order>99999</sort_order>
		</sheeridconfig>
	</tabs>
	<sections>
		<sheerid_options translate="label" module="sheerid_verify">
			<label>SheerID</label>
			<tab>sheeridconfig</tab>
			<frontend_type>text</frontend_type>
			<sort_order>1000</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<settings translate="label">
					<label>Settings</label>
					<frontend_type>text</frontend_type>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<sandbox translate="label">
							<label>Sandbox Mode?</label>
							<frontend_type>select</frontend_type>
							<source_model>SheerID_Verify_Model_System_Config_Source_Noyes</source_model>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment><![CDATA[Sandbox Mode facilitates integration testing. For more information, please view the <a href="http://developer.sheerid.com" target="_blank">SheerID Developer Center</a>.]]></comment>
						</sandbox>
						<access_token translate="label">
							<label>SheerID Access Token</label>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment><![CDATA[The token which allows your system to access the SheerID API. Obtained from the <a href="https://www.sheerid.com/home/tokens.html" target="_blank">SheerID Control Center</a>.]]></comment>
						</access_token>
						<coupon_code_entry translate="label">
							<label>Verify on Coupon Code Entry</label>
							<frontend_type>select</frontend_type>
							<source_model>SheerID_Verify_Model_System_Config_Source_Noyes</source_model>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment><![CDATA[If this setting is enabled, users inputting a coupon code will be prompted to verify if the price rule is conditional upon a SheerID-verified affiliation.]]></comment>
						</coupon_code_entry>
					</fields>
				</settings>
			</groups>
		</sheerid_options>
	</sections>
</config>
